* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --delay: 0;
    --duration: 800ms;
    --iterations: 1;
}

body {
    background-color: #282937;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 10px;
    width: 1000px;
    max-height: 800px;
    display: flex;
    margin: auto;
    background-color: white;
    position: relative;
    overflow: hidden;
    animation: fade-in 1.5s ease, slide-in 1.2s ease;
    -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}

.body__left {
    flex: 1;
    display: grid;
    height: fit-content;
    margin: auto;
    justify-content: center;
}

.body__left a {
    z-index: 99;
    text-decoration: none;
}

.body__left-icon {
    z-index: 99;
    width: 40px;
    height: 40px;
    margin: 10px 0px;
    animation: fade-in 3s ease;
    -webkit-animation: fade-in 3s ease;
    transition: all .2s ease-in-out;
}

.body__left-icon:hover {
    cursor: pointer;
    transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
}

.body__center {
    position: relative;
    min-width: 300px;
    display: flex;
    flex: 5;
    background: #d4d9cf;
}

.body__center-img {
    display: inline;
    max-width: 100%;
    object-fit: cover;
    animation: fade-in 3s ease;
    -webkit-animation: fade-in 3s ease;
}

.body__right {
    flex: 7;
    margin: auto;
    padding-left: 20px;
}

.body__right-heading {
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    color: #7e7f88;
    z-index: 1;
    animation: fade-in 3s ease;
    -webkit-animation: fade-in 3s ease;
}

.body__right-text{
    text-align: left;
    width: 80%;
    font-family: cursive;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(138, 138, 138);
    z-index: 1;
    animation: fade-in 3s ease;
    -webkit-animation: fade-in 3s ease;

}

.body__right-name {
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    color: #353641;
    z-index: 1;
    animation: fade-in 3s ease;
    -webkit-animation: fade-in 3s ease;

}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade-in 3s ease;
    -webkit-animation: fade-in 3s ease;
}

.circle-1 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #596b6ddc;
    position: absolute;
    top: -100px;
    left: -30px;
    animation: scaling 1.8s infinite alternate;
    animation-delay: 0.2s;
}

.circle-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #596b6da1;
    position: absolute;
    top: 260px;
    left: 380px;
    animation: scaling 1.1s infinite alternate;
    animation-delay: .2s;
}

.circle-3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #596b6d93;
    position: absolute;
    top: 160px;
    left: 680px;
    z-index: 1;
    animation: scaling 1.6s infinite alternate;
    animation-delay: 0.2s;
}

.circle-4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #596b6ddc;
    position: absolute;
    top: 260px;
    right: 100px;
    animation: scaling 1s infinite alternate;
    animation-delay: 0.1s;
}

.circle-5 {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #596b6dc9;
    position: absolute;
    bottom: -120px;
    right: -40px;
    animation: scaling 1.2s infinite alternate;
}

@keyframes scaling {
    From {
        transform: translateY(0px);
    }

    To {
        transform: translateY(15px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        top: -300px;
    }

    100% {
        top: 0;
    }
}


@media screen and (max-width: 900px){
    .circle-1 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #596b6ddc;
        position: absolute;
        top: -100px;
        left: -30px;
        animation: scaling 1.8s infinite alternate;
        animation-delay: 0.2s;
    }
    
    .circle-2 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #596b6dd8;
        position: absolute;
        top: 200px;
        left: 350px;
        animation: scaling 1.1s infinite alternate;
        animation-delay: .2s;
    }
    
    .circle-3 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #596b6d93;
        position: absolute;
        top: 100px;
        left: 550px;
        z-index: 1;
        animation: scaling 1.6s infinite alternate;
        animation-delay: 0.2s;
    }
    
    .circle-4 {
        display: none;
    }
    
    .circle-5 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #596b6dc9;
        position: absolute;
        bottom: -120px;
        right: -40px;
        animation: scaling 1.2s infinite alternate;
    }
    
}

@media screen and (max-width: 700px){


    body{
        background: none;
        height: auto;
    }

    .container{
        display: inline-table;
        flex-wrap: wrap;
        overflow: hidden;
        height: 100vh;
        border-radius: 0px;
    }

    .body__left{
        display: flex;
        justify-content: space-around;
    }

    .body__left-icon-1{
        animation: scaling 1.1s infinite alternate;
        animation-delay: 0.2s;
    }
    .body__left-icon-2{
        animation: scaling 1.8s infinite alternate;
        animation-delay: 0.2s;
    }
    .body__left-icon-3{
        animation: scaling 1.4s infinite alternate;
        animation-delay: 0.2s;
    }
    .body__left-icon-4{
        animation: scaling 1s infinite alternate;
        animation-delay: 0.2s;
    }


    .body__left-icon:hover{
        cursor: auto;
    }

    .body__center{
        width: 100%;
        height: auto;
    }

    .body__right-heading, .body__right-name{
        font-size: 30px;
    }

    .circle{
        display: none;
    }

    

}

